# React / Node
node_modules/
dist/
build/
# Next.js & Vercel
.next/
out/
.vercel/

# Environment files
.env
.env.local
.env.development
.env.production

# React
.vite/

# ASP.NET Core
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# Temp Browser Profiles & Scraping Dumps
.linkedin-browser-profile*/
*.html

# OS
Thumbs.db
.DS_Store