# React / Node
node_modules/
dist/
build/
# Next.js
.next/
out/

# Environment files
.env
.env.local
.env.development
.env.production

# React
.vite/

# ASP.NET Core
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# OS
Thumbs.db
.DS_Store